/* CSS carregado via <link> — testa carregamento de CSS externo de módulo */
.box button {
    display: block;
    margin-top: 5px;
}
table {
    margin-top: 8px;
    width: fit-content;
}
th {
    background-color: rgb(40, 40, 100);
}
